<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<<<<<<< HEAD
<p>
  <strong>Presence:</strong>
  <%= @category.presence %>
</p>

=======
>>>>>>> 48f9a1c51f09d7ec509fb4a492777c0b1343acfd
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
